<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVStats</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <label for="fever">Fever:</label>
    <select name="fever" id="fever">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br>
    <label for="cough">Cough:</label>
    <select name="cough" id="cough">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br>
    <label for="tired">Fatigue:</label>
    <select name="tired" id="tired">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br>
    <label for="breathing">Breathing Problems:</label>
    <select name="breathing" id="breathing">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br>
    <label for="chest-pain">Pain in Chest:</label>
    <select name="chest-pain" id="chest-pain">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br>
    <label for="heart-disease">Heart Diseases:</label>
    <select name="heart-disease" id="heart-disease">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br>
    <label for="lung-disease">Lung Diseases:</label>
    <select name="lung-disease" id="lung-disease">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>
    <br>
    <button id="submit">Submit</button>
    <br>
    <p id="result"></p>
</body>
</html>